A {
    COLOR: #0000ff;
    FONT-FAMILY: "宋体";
    FONT-SIZE: 9pt;
    TEXT-DECORATION: none
}
A:hover {
    COLOR: #ff0000;
    FONT-FAMILY: "宋体";
    FONT-SIZE: 9pt;
    TEXT-DECORATION: underline
}
A:active {
    COLOR: #ff00ff;
    FONT-FAMILY: "宋体";
    FONT-SIZE: 9pt;
    TEXT-DECORATION: underline
}
BODY {
	FONT-FAMILY: "宋体";
	FONT-SIZE: 11pt;
	LINE-HEIGHT: 150%;
	 background-image:url("g.gif");
	/*background-image: url(jonahome_bible.gif);/*
	color: #0000FF;
}
TD {
	FONT-FAMILY: "宋体";
	FONT-SIZE: 11pt;
	LINE-HEIGHT: 150%;
	color: #0000FF;
}
P {
	FONT-FAMILY: "宋体";
	FONT-SIZE: 11pt;
	LINE-HEIGHT: 150%;
	color: #0000FF;
}
FONT {
	FONT-FAMILY: "宋体";
	FONT-SIZE: 11pt;
	LINE-HEIGHT: 150%;
	color: #0000FF;
}
