/*全局样式*/
* {
    margin: 0;
    padding: 0;
}
html {
height: 100%; margin-bottom: 1px; 
  overflow-y: scroll;
}
:root {
  overflow-y: auto;
  overflow-x: hidden;
}
:root body {
  position: absolute;
}
body {
  width: 100vw;
  overflow: hidden;
  background-color:#F0F0F0;
}


a:link,a:visited,a:active {color:#000000;}
a:hover {color:#FF0033; text-decoration:none;}

ul,li{margin:0;padding;0}

body,p,li,td,a {
    font-family: "Helvetica Neue", Helvetica, Arial, "PingFang SC", "Hiragino Sans GB", "Heiti SC", "MicrosoftYaHei", "WenQuanYi Micro Hei", sans-serif;
 }
#mytitle{
width:100%;
text-align:left;
height:56px;
vertical-align:center;
padding-left:10px;
font-size:18px;
background-color:#FFF;
}

#mytitlewen{

padding-left:4px;
padding-top:10px;
font-size:20px;
background-color:#FFFFFF;
margin-left:4px;
}

#mytitlewenr{
width:98%;
margin-top:0px;
text-align:right;
padding-top:0px;
padding-right:26px;
font-size:16px;
background-color:#FFFFFF;

}

#mytitletu{
padding-top:8px;
width:36px;
float:left;
background-color:#FFFFFF;
}

.bt1{
	color: #FF0033;
		font-weight: bold;
	font-size: 18px;
 }  



#di1{
width:100%;
text-align:center;
margin-bottom:2px;
margin-top:2px;
padding-bottom:2px;
padding-top:2px;
font-size:16px;
background-color:#FFFFFF;
line-height:26px;
}


#di2{
width:100%;
text-align:center;
margin-bottom:2px;
margin-top:2px;
padding-bottom:2px;
padding-top:2px;
font-size:14px;
background-color:#FFF;
line-height:30px;

border-top: 1px solid #ccc;
}

#di3{
text-align:center;
font-size:12px;
/*background-color:#FFF;*/
line-height:30px;
margin-top:4px;

}



#message{
height:36px;
line-height:100%;
width:100%;
text-align:right;
font-size:16px;
border-bottom: 1px solid #ccc;
background-color:#ffffff;
color:#FF0000;
}

.wrapper{
width:100%
 margin: 2px;
}

#mytitle2{
width:95%;
text-align:left;
margin:20px;
padding-bottom:10px;
padding-top:10px;
font-size:14px;
background-color:#FFFF99;
}

#bt{
width:99%;
margin: 0 auto;
padding: 0;
overflow: hidden;
background-color:#FFFFFF;
text-align: center;
}

#iv-show{ 
width:268px;
height:100%;
display:block;
margin-left:auto;
margin-right:auto;
text-align:right;
border:none;
font-size:16px;
background-image:url(tu2web.jpg);
background-position: center right;
background-size: 20px 20px;
background-repeat: no-repeat;
padding-right:24px;
color:#FF0000;

	
}


.ccon{max-width: 798px;margin: 0 auto; background-color:#FFFFFF; overflow:hidden; border:solid 2px #CCCCCC; margin-top:10px; margin-bottom:10px;}

#verse-choice{
width:100%;
	border:1px solid #ccc;
    margin-bottom: 2px;
	overflow: hidden;
		background-color:#f0f0f0;
}

#show-panel{
margin-left:2px;
	background-color:#f0f0f0;
	padding-bottom:2px;
}

#show-pane2{
margin-left:2px;
	background-color:#f0f0f0;
	padding-bottom:2px;
}


#ibt-wrap li,#iv-wrap li {
    list-style: none;
    display: inline-block;
    text-align: center;
    cursor: pointer;

}



#ibt-wrap li{

width:30%;
    height: 45px;
    line-height: 45px;
	margin-left:4px;
	margin-bottom:4px;
	display: inline-block;
	    font-size: 18px;
	
}

.titleSel{
    border-bottom: 2px solid #ff0033;
	color:#ff0033;
	font-weight:bold;
}

#iv-wrap li{
    width: 86px;
    height: 55px;
    border-radius: 4px;
    font-size: 16px;
    overflow:hidden;
    white-space:nowrap;
    text-overflow:ellipsis;
	margin-left:2px;
	margin-top:2px;

}


#iv-wrap2 li {
    list-style: none;
    display: inline-block;
    text-align: left;
    cursor: pointer;
	
	width: 58px;
    height: 48px;
    border-radius: 2px;

background-color:#FFFFFF;
    font-size: 16px;
    overflow:hidden;
    white-space:nowrap;
	margin-left:4px;
	margin-top:4px;
	padding-left:4px;
	padding-top:4px;

}

#iv-wrap2 li:hover{
    color: #ff0033;
	font-weight:bold;
}


#iv-wrap li:hover {
	color: #ff0033;
	font-weight:bold;
}

#iv-wrap li:nth-child(n+40):nth-child(-n+43){
	color: #990033;
 }  
#iv-wrap li:nth-child(n+44):nth-child(-n+66){
	color: #660033;
 }  
 #iv-wrap li:hover:nth-child(n+40):nth-child(-n+66){
	color: #ff0033;
 } 

/*------------new-----------*/

.myli-ls{

float:left; 
width:100%;

height:32px;
font-size:18px;
	text-align:left;

padding-left:6px;
padding-top:0px;
margin-top:0px;
margin-right:4px;
background:#FFFFFF;
pointer-events:none;/*让mouse穿透，点击Li*/
}
.myli-lx{
background:#FFFFFF;
float:left;
width:100%;
font-size:12px;
height:24px;
	text-align:left;
padding-left:4px;
text-align:left;
word-break:keep-all;/* 不换行 */
white-space:nowrap;/* 不换行 */
overflow:hidden;
margin-top:0px;
margin-right:2px;
pointer-events:none;/*让mouse穿透，点击Li*/
}

